/* You can add global styles to this file, and also import other style files */

.wg2r-blockquote {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.wg2r-json-property {
  padding-left: 20px;
}
