<app-header
  title="Exemplo de formulário - Forma deselegante"
  description="A forma errada usando ngModel isoladamente"
></app-header>
<div class="px-5">
  <div class="form-group">
    <label for="wg2r-name">Nome</label>
    <input type="text" class="form-control" id="wg2r-name" [(ngModel)]="name" />
  </div>
  <div class="form-group">
    <label for="wg2r-last-name">Email</label>
    <input
      type="text"
      class="form-control"
      id="wg2r-last-name"
      [(ngModel)]="email"
    />
  </div>
  <div class="form-group">
    <label for="wg2r-age">Idade</label>
    <input type="number" class="form-control" id="wg2r-age" [(ngModel)]="age" />
  </div>
  <div class="form-group">
    <label for="wg2r-gender">Gender</label>
    <select class="form-control" id="wg2r-gender" [(ngModel)]="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <div class="form-group d-flex justify-content-end">
    <button
      class="btn btn-secondary mr-3"
      type="button"
      (click)="toogleResults()"
      *ngIf="showResults"
    >
      Fechar
    </button>
    <button class="btn btn-primary" type="button" (click)="toogleResults()">
      Salvar
    </button>
  </div>

  <blockquote class="wg2r-blockquote" *ngIf="showResults">
    <span>{{ "{" }}</span>
    <br />
    <span class="wg2r-json-property">name: </span>
    <code>{{ name }}</code
    ><br />
    <span class="wg2r-json-property">email: </span><code>{{ email }}</code
    ><br />
    <span class="wg2r-json-property">age: </span><code>{{ age }}</code
    ><br />
    <span class="wg2r-json-property">gender: </span><code>{{ gender }}</code
    ><br />
    <span>{{ "}" }}</span>
  </blockquote>
</div>
